@import 'bulma/css/bulma.css';


@media screen and (min-width: 1024px) {
  .container-custom {
    max-width: 425px !important; 
  }
}
.columns-custom {
  margin-top: 40px
}
.dummy {
  height: 5000px;
}
.navbar-break {
  height: 60px;
}

.panel-custom {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 52px;
  z-index: 29;
  border-radius: inherit;
}

#filterBtn {
  width: 100%;
}

#folderPlusIcon {
  margin-right: 0px;
}

.panel-block-custom {
  cursor: pointer;
}

#panelHeadingName {
  margin-right: 5px;
  user-select: none;
}

.no-display-custom {
  display: none;
}

.block-display-custom {
  display: block;
  z-index: 29;
}

.cards-container {
  margin-top: 33px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* background-color: hsl(0,0%,48%) !important; */
  /* min-height: 100vh; */
}
@media screen and (max-width: 721px) {
  .cards-container {
    justify-content: center;
  }
  .box-container {
    width: 100% !important;
  }
}

.box-container {
  position: relative;
  width: 320px;
  height: auto;
  margin: 20px;
}

.delete-icon, 
.play-icon {
  position: absolute;
  cursor: pointer;
}
.delete-icon {
  top: 15px;
  right: 15px;
}
.play-icon {
  top: 15px;
  right: 50px;
}

.word-type {
  margin-left: 5px;
}

.search-result {
  position: relative;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0px;
  color: #4A4A4A;
}
.search-result:hover {
  border: 2px solid hsl(141, 71%, 48%);
}
.choosen-result {
  border: 2px solid hsl(141, 71%, 48%);
}
.choosen-result-error {
  border: 2px solid hsl(348, 100%, 61%);
}

input[name="choosenWord"] {
  width: 30px;
  height: 30px;
}

.delete-filter-custom { margin-left: auto;}

.question-select {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.select-custom {
  width: 100%;
}

.button-custom {
  width: 100%;
  margin-top: 10px;
}

.box-custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .box-custom {
    padding: 0px 20px 20px 20px;
  }
}

.answers {
  border: 0.5px solid hsl(0, 0%, 71%);
  padding: 10px;
  margin: 10px;
  min-width: 260px;
  max-width: 420px;
  cursor: pointer;
}


.answers:hover {
  border-color: black;
}
.answers > p {
  text-align: center;
}

.answer-correct {
  background-color: hsl(141, 71%, 48%);
}

.answer-wrong {
  background-color: hsl(348, 100%, 61%);
}

.answers-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 15px;
}

.quiz-container {
  display: flex;
  justify-content: center;
}

.break-line {
  border-top: 1px solid;
  margin: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.subtitle-custom {
  margin-top: 0px !important;
}

.progress-bar-container {
  background-color: hsl(0,0%,48%) !important;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress-bar-container > progress {
  width: 300px;
}

input[name="choosenWord"] {
  cursor: pointer;
}

.card-background {
  min-height: 100vh;
  background-color: hsl(0,0%,48%);
}
.quiz-summary {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.hero-body-custom {
  justify-content: center;
  flex-direction: column;
  align-items: inherit !important;
}

.modal-card-custom {
  width: 100vw;
  height: 100vh;
}